body {
    background-color: #C75220;
   /* text-align: center; */
   margin: 0%;
}

div{
  justify-items:center;  
}

h1 {
    color: white;
}

th {
    /* table head coloring */
    background-color: #260300;
    color: white;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

input[type=radio] {
    accent-color: #260300;
}

input[type=checkbox] {
    accent-color: #260300;
}